*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Segoe UI;
  background:#f5f7ff;
}

header{
  text-align:center;
  padding:20px;
  background:#1e3a8a;
  color:white;
}

nav{
  display:flex;
  justify-content:center;
  gap:15px;
  background:#2563eb;
  padding:15px;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.contact-split{
  display:flex;
  gap:20px;
  max-width:1100px;
  margin:40px auto;
  padding:20px;
}

.form-box{
  flex:1;
  background:white;
  padding:20px;
  border-radius:15px;
}

.form-box input,
.form-box textarea{
  width:100%;
  margin-top:10px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
}

.form-box button{
  margin-top:10px;
  width:100%;
  padding:10px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

/* CHAT */
.chat-box{
  flex:1;
  background:white;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  height:450px;
  overflow:hidden;
}

.chat-header{
  background:#1e3a8a;
  color:white;
  padding:10px;
}

.chat-area{
  flex:1;
  padding:10px;
  overflow-y:auto;
  background:#eef2ff;
}

.chat-input{
  display:flex;
  gap:10px;
  padding:10px;
}

.chat-input input{
  flex:1;
  padding:10px;
}

.chat-input button{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 15px;
}

/* messages */
.msg{
  padding:10px;
  margin:5px;
  border-radius:10px;
  max-width:80%;
}

.user{
  background:#2563eb;
  color:white;
  margin-left:auto;
}

.bot{
  background:white;
}
#statusMsg{
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.success{
  background: #d1fae5;
  color: #065f46;
}

.error{
  background: #fee2e2;
  color: #991b1b;
}